AI Agent to manage Reservations.json
{
  "name": "AI Agent to manage Reservations",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -80
      ],
      "id": "14d5ff92-9cee-4fb9-b4fa-d4602c214dc7",
      "name": "Telegram Trigger",
      "webhookId": "5dde34ac-0c58-47bc-94a1-4a4d875d3cf8",
      "credentials": {
        "telegramApi": {
          "id": "DYOe2jaQl1U0IgK4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8463ea5c-8ee7-4b59-b70c-b285fac52910",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b490cf3b-b785-48d1-8286-210cab4eb33f",
              "leftValue": "={{ $json.message.photo[3] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8bf79d0b-dc22-4fc1-8e9e-2de20e056c6e",
              "leftValue": "={{ $json.message.text }} ,{{ $json.message.photo[3] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        -80
      ],
      "id": "1414ac81-d3b9-41cf-877f-90214071b40d",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -32,
        0
      ],
      "id": "1ba0cf8f-3685-458d-beec-8e594e4093c4",
      "name": "Get a file",
      "webhookId": "26fe5c4a-ed01-43ac-8b7c-77f655bd5ff4",
      "credentials": {
        "telegramApi": {
          "id": "DYOe2jaQl1U0IgK4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-lite-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-lite-latest"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        192,
        0
      ],
      "id": "e0285581-a5f8-4abf-869b-e3875d979ffb",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "pHLhjHrhYEXD3lwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content.parts[0].text }},{{ $json.message.text }}",
        "options": {
          "systemMessage": "رد علي كل الاستفسارات بنفس اللغه اللي هتتبعت ليك\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        -80
      ],
      "id": "cf42eea1-33eb-49aa-8b5b-de40e2bab592",
      "name": "Telegram Bot Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        640,
        144
      ],
      "id": "25f86204-755b-4d61-8bd8-6199d412bd67",
      "name": "Brain",
      "credentials": {
        "googlePalmApi": {
          "id": "pHLhjHrhYEXD3lwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }},{{ $json.content.parts[0].thoughtSignature }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        768,
        144
      ],
      "id": "40f594d4-6810-4a20-a9ab-68bd75437bdc",
      "name": "Memory"
    },
    {
      "parameters": {
        "chatId": "5068032345",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        -80
      ],
      "id": "a7a12605-e6f7-4a82-ab1d-10c63101a9d4",
      "name": "Send a text message",
      "webhookId": "bc69d551-4a1e-4088-b0df-91a761f8f652",
      "credentials": {
        "telegramApi": {
          "id": "DYOe2jaQl1U0IgK4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fg5-H9olJPVnBL3PHArvcr71s2b-GPyWDnxd04ZJ20g",
          "mode": "list",
          "cachedResultName": "school n8n test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fg5-H9olJPVnBL3PHArvcr71s2b-GPyWDnxd04ZJ20g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fg5-H9olJPVnBL3PHArvcr71s2b-GPyWDnxd04ZJ20g/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        896,
        144
      ],
      "id": "3bcb968d-b8c2-414c-8f29-60a8255cf28b",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7do9YblieP2zHg75",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ahmedkhoodeir@gmail.com",
          "mode": "list",
          "cachedResultName": "ahmedkhoodeir@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1024,
        144
      ],
      "id": "5d7b0d61-3c2f-470c-a874-dd6cd472ee30",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eCm8H7eARU9Qd8lS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        -80
      ],
      "id": "e78526f7-86cc-4083-90e3-dfd49f06c5a5",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Telegram Bot Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Telegram Bot Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Bot Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Telegram Bot Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Telegram Bot Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Telegram Bot Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d4ec4490-9fc4-4413-a4ea-ca1f1fda35ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "990471da367dc7f06b12082f26d36e145d29d47436cab3fd70b5149b1f5513d8"
  },
  "nodeGroups": [],
  "id": "YTRBmuKh4q6QLn2v",
  "tags": []
}